<h1>Create a New Movie List</h1>
<%= simple_form_for @list do |f| %>
  <div class="form-group">
    <%= f.input :name, label: 'List name' %>
  </div>
  <%= f.button :submit, 'Create List', class: 'btn btn-success' %>
<% end %>
